<ion-view view-title="Edit Tab Members">
  <ion-content class="center padding">
  	<h3>Tab members:</h3>
  	<label class="item item-input">
		<input type="text" ng-model="searchText.name" placeholder="Add new member" ng-focus="showList = true" ng-blur="showList = false">
	</label>
	<div class="list" ng-if="showList">
			<div class="item outline" ng-repeat="friend in friends | filter:searchText" ng-click="addFriendToTab(friend)">
		    <span id={{friend}}>{{friend.name}}</span>
  		</div>
	</div>
	<br>
  	<div class="list">
		<div class="item outline" ng-repeat="friend in members">
		    <span class="text-left">{{friend.name}}</span>
	    	<button class="button button-outline button-small button-assertive" ng-click="removeFriendFromTab(friend)">Remove</button>
  		</div>
	</div>
  </ion-content>
</ion-view>
