<ion-view view-title="New Tab">
  <ion-content class="center padding">
  	<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Tab Name">
		  </label>
			<br>
			<p>Add friends to your tab:</p>
			<label class="item item-input">
				<input type="text" ng-model="searchText.name" placeholder="Who are you dining with?" ng-focus="showList = true" ng-blur="showList = false">
			</label>
			<div class="list" ng-if="showList">
					<div class="item outline" ng-repeat="friend in friends | filter:searchText" ng-click="addToInviteList(friend)">
				    <span id={{friend}}>{{friend.name}}</span>
		  		</div>
			</div>
		</div>

		<div class="col col-center padding-horizontal">
	    <a href="#/app/current_tab" class="button button-block button-calm" ng-click="openTab()">
	      Open tab
	    </a>
		</div>

		Current members:
		<div class="list">
			<div class="item" ng-repeat="friend in inviteList">
				{{friend.name}}
			</div>
		</div>
  </ion-content>
</ion-view>
